.experiment {
    height: calc(100vh - 80px); /* Mỗi section chiếm toàn bộ chiều cao màn hình */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

    .alert {
        font-size: 24px;
    }

    .btn {
        background-color: #cee0f1;
        color: black;
        padding: 16px 36px;
        font-weight: 700;
        border-radius: 40px;
        font-size: 16px;
        box-shadow: -2px 6px 47px -10px rgba(255, 255, 255, 1);
        -webkit-box-shadow: -2px 6px 47px -10px rgba(255, 255, 255, 1);
        -moz-box-shadow: -2px 6px 47px -10px rgba(255, 255, 255, 1);
        outline: none;
        cursor: pointer;
        animation: popUp 1s ease-in-out infinite alternate;
        text-align: center;
    }

    .btn:hover {
        opacity: 0.8;
        transition: all ease-in-out 0.2s;
    }

    .progress {
        .progressTitle {
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            animation: fadeInLeftToRight 0.3s ease-in-out forwards;
        }
    }

    .completed {
        animation: fadeIn 1.2s ease forwards;
    }

    .options {
        display: flex;
        gap: 40px;
    }

    .loadingCircle {
        width: 20px;
        height: 20px;
        border-radius: 999px;
        background-color: #4ed6f5;
        animation: flicker 1s ease-in-out infinite alternate;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes popUp {
    from {
        scale: 1;
    }
    to {
        scale: 1.05;
    }
}

@keyframes fadeInLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-12px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes flicker {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
